@import "tailwindcss";

:root {
--azul: #104766;
--rojo: #ea4f4e;
}

body {
font-family: "Montserrat", sans-serif;
font-size: 17px;
line-height: 26px;
color: #373737;
background: #fff;
}

h1, h2, h3, h4, h5, h6 {
color: var(--azul);
font-family: "Montserrat", sans-serif;
}
